<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdDuplexWP7" version="2.7.0.3" targetFramework="wp71" />
  <package id="BugSense.WP7" version="3.6.0.4" targetFramework="wp71" />
  <package id="Caliburn.Micro" version="1.5.2" targetFramework="wp71" />
  <package id="Microsoft.Bcl" version="1.1.6" targetFramework="wp71" />
  <package id="Microsoft.Bcl.Async" version="1.0.165" targetFramework="wp71" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="wp71" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="wp71" />
  <package id="SilverlightToolkitWP" version="4.2012.6.25" />
</packages>